################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Test01/v15/Server/sqlite3/storage.ide
/.vs/Test01/v15/Server/sqlite3/storage.ide-shm
/.vs/Test01/v15/Server/sqlite3/storage.ide-wal
